.block-icon {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;

  img {
    max-width: 80px;
  }

  &:not(:last-child) {
    margin: 0 0 47px;
  }

}

@include media('<desktop') {

  .block-icon {
  
    &:not(:last-child) {
      margin: 0 0 40px;
    }
  
  }

}

@include media('<tablet') {

  .block-icon {
  
    &:not(:last-child) {
      margin: 0 0 30px;
    }
  
  }

}

@include media('<phone') {

  .block-icon {
  
    &:not(:last-child) {
      margin: 0 0 20px;
    }
  
  }

}