.content-block-secondary {

  .image-block {
    width: 51%;
  }

  .description-block {
    color: $white;
    padding: 0 0 0 15px;

    h2 {
      color: $white;
    }

  }

  .btn-primary {
    background: $white;
    color: $skyblue;

    &:hover,
    &:focus {
      background: transparent;
      border-color: $white;
      color: $white;
    }

  }

}

@include media('<tablet') {

  .content-block-secondary {
    flex-direction: column;

    .image-block {
      width: 80%;
    }

    .description-block {
      padding: 0;
    }

  }

}

@include media('<phone') {

  .content-block-secondary {

    .image-block {
      width: 100%;
    }

  }

}