.form-search {
  position: relative;
  width: 600px;
  margin: 0 15px;

  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 55px;
    background: transparent;
    color: $white;
    border: transparent;
    font-size: 18px;
    outline: none;
    padding: 0;
    @include animate(color);

    &:hover {
      color: $skyblue;
    }

  }

  input {
    padding: 15px 70px 15px 15px;
  }

}