.section-services {
  padding: 70px 0 67px;
}

@include media('<widescreen') {

  .section-services {
    padding: 60px 0 40px;
  }

}

@include media('<tablet') {

  .section-services {
    padding: 40px 0 25px;
  }

}

@include media('<phone') {

  .section-services {
    padding: 20px 0 15px;
  }

}