.service-block {
  padding: 0 15px 30px;
  width: (100%/4);

  h3 {
    margin: 0 0 22px;
  }

  img {
    vertical-align: top;
  }

}

@include media('<desktop') {

  .service-block {

    h3 {
      font-size: 22px;
    }

  }

}

@include media('<tablet') {

  .service-block {
    padding: 0 15px 30px;
    width: (100%/2);
  }

}

@include media('<phone') {

  .service-block {
    padding: 0 0 20px;
    width: 100%;

    .description-block {

      h3 {
        margin: 0 0 20px;
      }

    }

  }

}