.btn {
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  border: $btn-border;
  outline: none;
  @include animate(color background border);
  cursor: pointer;
  min-width: $btn-min-width;
  display: inline-block;
  vertical-align: top;

  &-primary {
    color: $btn-color;
    background-color: $btn-background-color;

    &:hover {
      background: $medium-gray;
      color: $white;
    }

    &-lg {
      padding: $btn-primary-lg-padding;
      min-width: $btn-primary-lg-min-width;
      font-size: $btn-primary-lg-font-size;
    }

  }

}


@include media('<tablet') {

  .btn {
    font-size: 16px;
  }

}

@include media('<xs-phone') {

  .btn {

    &-primary {
      min-width: 100%;
    }

  }

}