$breakpoints: (
  "xs-phone": 480px,
  "phone": 768px,
  "tablet": 1024px,
  "desktop": 1200px,
  "widescreen": 1800px
);

// keywords
$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x": "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)",
  "retina3x": "(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)"
);

// ligatured operators ≥ ≤

// Colors
$black: #0d0c0a;
$dark-black: #000;
$white: #fff !default;
$skyblue: #2ebaee;
$medium-gray: #878787;
$dark: #242424;
$light-gray: #b2b2b2;

// Fonts
$base-font-sans-serif: "montserrat", "Raleway", "Helvetica Neue", "Helvetica", sans-serif;

// Body
$base-background-color: $white !default;
$font-size-base: 14px !default;
$font-weight-base: 400 !default;
$base-line-height: 1.7 !default;
$base-min-width: 320px !default;
$base-color: $medium-gray !default;
$base-font-family: $base-font-sans-serif;

// Container
$base-max-width: 1330px !default;
$base-padding: 0 15px !default;

// form
$base-input-bg-color: transparent;
$base-form-color: $white;
$base-form-border-radius: 5px;
$form-element-padding: 15px !default;
$form-element-border-color: #535353 !default;
$form-element-focus-border-color: $skyblue !default;
$form-element-font-size: 14px !default;
$form-element-line-height: 1 !default;
$form-element-font-weight: 400 !default;
$placeholder-color: $white !default;
$placeholder-hover-color: $medium-gray;

// Links
$base-link-color: $white !default;
$base-link-font-weight: 400 !default;
$base-link-hover-color: $skyblue!default;

// Buttons
$btn-color: $white !default;
$btn-border-radius: 30px !default;
$btn-padding: 14px !default;
$btn-font-size: 14px !default;
$btn-font-weight: 700 !default;
$btn-line-height: 1 !default;
$btn-background-color: $skyblue;
$btn-min-width: 151px;
$btn-border: 1px solid transparent;
$btn-secondary-border: 1px solid transparent;
$btn-primary-lg-padding: 15px;
$btn-primary-lg-min-width: 210px;
$btn-primary-lg-font-size: 18px;

// Headers
$h1-font-size: 72px !default;
$h2-font-size: 48px !default;
$h3-font-size: 24px !default;
$h4-font-size: 22px !default;
$h5-font-size: 18px !default;
$h6-font-size: 14px !default;
$headings-line-height: 1.2;
$headings-font-family: $base-font-sans-serif;
